/* default styles for the layout and styling */
* {
    --primary-brown: #f6f2eb;
    --secondary-white: #fff;
    --secondary-black: #000;
    --accent-brown: #fec887;
    --font-size-small: 1rem;
    font-size: 14px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: var(--secondary-black);
}
a {
    text-decoration: none;
}
body {
    margin: 0px;
}


/* styling the layout */
body {
    background-color: var(--primary-brown);
}


/* styling the nav bar */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-inline: 6.25rem;
    padding-block: 1.875rem 0rem;
    align-items: flex-start;
}

nav > div#logo-ctn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 15%;
    gap: 0.625rem;
}
nav > div#logo-ctn > a#sales-link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding-block-start: 0.3125rem;
    border-block-start: 1px solid var(--secondary-black);
}
nav > div#logo-ctn > a#sales-link > span:nth-child(2) {
    font-size: 1.125rem;
}
nav > div#logo-ctn > a#logo {
    font-size: 1.3rem;
    font-weight: 600;
}


nav > div#mobile-menu {
    display: none;
}
nav > div#desktop-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
}
nav > div#desktop-menu > span {
    display: none;
}
nav > div#desktop-menu > a {
    order: 2;
    padding-inline: 1.25rem;
    padding-block: 0.625rem;
    background-color: var(--accent-brown);
    border-radius: 10px;
    text-transform: capitalize;
    outline: none;
}
nav > div#desktop-menu > div {
    order: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
}
nav > div#desktop-menu > div > a:nth-child(1) {
    text-transform: capitalize;
    order: 2;
}
nav > div#desktop-menu > div > a:nth-child(2) {
    order: 1;
    font-size: 1.2rem;
}



main {
    position: relative;
    top: 0;
}
main > form {
    margin-block-start: 2.5rem;
    max-width: 400px;
    margin-inline: auto;
    background-color: var(--secondary-white);
    padding-inline: 1.875rem;
    padding-block: 2.5rem;
    border-radius: 20px;
}
main > form > * {
    display: block;
}
main > form > div#heading {
    margin-block-end: 1.875rem;
}
main > form > div#inputs {
    margin-block-end: 1.875rem;
}
main > form > div > h1, main > form > div > p {
    text-align: center;
    text-transform: capitalize;
    margin-inline: auto;
}
main > form > div > h1 {
    font-size: 2rem;
    margin-block-start: 0rem;
}
main > form > div > p {
    margin-block-end: 0rem;
    line-height: 1.4;
    width: 80%;
}
main > form > div > input {
    display: block;
    width: 95%;
    padding-inline: 0.9375rem;
    padding-block: 0.625rem;
    font-size: 1rem;
    margin-block-start: 0.625rem;
    margin-inline: auto;
    border-radius: 10px;
    border-inline: 2px solid rgb(235, 235, 235);
    border-block: 2px solid rgb(238, 238, 238);
}
main > form > a {
    text-transform: capitalize;
    font-weight: 600;
    margin-block-end: 1.25rem;
}
main > form > input[type="submit"] {
    width: 100%;
    padding-block: 0.625rem;
    text-transform: capitalize;
    background-color: var(--accent-brown);
    border: none;
    border-radius: 10px;
    margin-block-end: 2.5rem;
    outline: none;
    transition: all 0.2s;
}
main > form > span {
    text-transform: capitalize;
    text-align: center;
}
main > form > span > a {
    font-weight: 600;
}


/* styling the copyright info at the bottom of the form */
main > span {
    display: block;
    text-align: center;
    margin-block-start: 2.5rem;
    margin-block-end: 2.5rem;
    text-transform: capitalize;
}
main > span > a::before {
    content: "|";
    padding-inline-end: 0.625rem;
    padding-inline-start: 0.625rem;
}


/* 
    adding micro-interactions such as: hover and focus on the inputs and the submit button
*/
main > form > input[type="submit"]:hover, nav > div#desktop-menu > a:hover, 
main > form > input[type="submit"]:focus-visible, nav > div#desktop-menu > a:focus-visible {
    background-color: #fc9e2c;
}
main > form > div > input:focus, main > form > div > input:focus-visible {
    border-inline: 2px solid rgb(172, 172, 172);
    border-block: 2px solid rgb(172, 172, 172);
    outline: none;
}


/* adding the decorational backgrounds */
div.decor {
    width: 17.5rem;
    height: 17.5rem;
    background-color: black;
    position: absolute;
    top: 5%;
    left: 5%;
    clip-path: polygon(1% 63%, 9% 57%, 22% 53%, 33% 28%, 46% 31%, 61% 21%, 74% 16%, 63% 24%, 47% 34%, 35% 31%, 24% 56%, 11% 61%);
    z-index: -1;
}
div.decor:nth-child(2) {
    top: 65%;
    left: 15%;
}
div.decor:nth-child(3) {
    top: 65%;
    left: 35%;
}
div.decor:nth-child(4) {
    top: 5%;
    left: 75%;
}
div.decor:nth-child(5) {
    top: 75%;
    left: 80%;
}
div.decor:nth-child(6) {
    top: 0%;
    left: 55%;
}



/* adding responsiveness using some breakpoints */

/* for large tablets */
@media screen and ( max-width: 50rem ) {
    /* hiding the background decorations */
    div.decor {
        display: none;
    }


    /* restyling the nav and it's logo in order to flow with mobile design */
    nav {
        align-items: center;
    }
    nav > div#logo-ctn {
        display: inline-block;
        inline-size: max-content;
    }
    nav > div#logo-ctn > a#sales-link {
        display: none;
    }
    nav > div#logo-ctn > a#logo {
        font-size: 1.3rem;
        font-weight: 600;
    }
}


/* for small tablets and max phones */
@media screen and ( max-width: 37.5rem ) {
    /* restyling the nav and it's logo in order to flow with mobile design */
    nav {
        display: flex;
        flex-wrap: wrap;
        padding-inline: 0.9375rem;
        padding-block: 1.875rem 0rem;
        align-items: center;
    }
    nav > div#logo-ctn {
        display: inline-block;
        inline-size: max-content;
    }
    nav > div#logo-ctn > a#sales-link {
        display: none;
    }
    nav > div#logo-ctn > a#logo {
        font-size: 1.3rem;
        font-weight: 600;
    }

    /* styling the mobile menu( dropdown ) */
    nav > div#mobile-menu {
        inline-size: 100%;
        display: block;
    }
    nav > div#mobile-menu > div {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        border-block-start: 1px solid var(--secondary-black);
        margin-block-start: 1rem;
        overflow: hidden;
        block-size: 0px;
        transition: block-size 0.5s;
    }
    nav > div#mobile-menu > div > * {
        margin-block-start: 1rem;
    }
    nav > div#mobile-menu > div > *:nth-child(1) {
        font-size: 1.0625rem;
        text-transform: capitalize;
    }
    nav > div#mobile-menu > div > *:nth-child(2) > span {
        font-size: 1.3rem;
    }

    /* re-styling the desktop-menu in order to just show the  */
    nav > div#desktop-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
        align-items: center;
    }
    nav > div#desktop-menu > span {
        display: initial;
        font-size: 2rem;
        order: 2;
    }
    nav > div#desktop-menu > a {
        order: 1;
        padding-inline: 1.25rem;
        padding-block: 0.625rem;
        background-color: var(--accent-brown);
        border-radius: 10px;
        text-transform: capitalize;
    }
    nav > div#desktop-menu > div {
        display: none;
    }



    /* re-sizing the form in order to fit well with screen width */
    main > form {
        max-width: 60%;
        padding-inline: 0.9375rem;
    }
}

/* for mobile phones */
@media screen and ( max-width: 31.25rem ) {
    /* hiding the background decorations */
    div.decor {
        display: none;
    }


    /* restyling the nav and it's logo in order to flow with mobile design */
    nav {
        display: flex;
        flex-wrap: wrap;
        padding-inline: 0.9375rem;
        padding-block: 1.875rem 0rem;
        align-items: center;
    }
    nav > div#logo-ctn {
        display: inline-block;
        inline-size: max-content;
    }
    nav > div#logo-ctn > a#sales-link {
        display: none;
    }
    nav > div#logo-ctn > a#logo {
        font-size: 1.3rem;
        font-weight: 600;
    }

    /* styling the mobile menu( dropdown ) */
    nav > div#mobile-menu {
        inline-size: 100%;
        display: block;
    }
    nav > div#mobile-menu > div {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        border-block-start: 1px solid var(--secondary-black);
        margin-block-start: 1rem;
        overflow: hidden;
        block-size: 0px;
        transition: block-size 0.5s;
    }
    nav > div#mobile-menu > div > * {
        margin-block-start: 1rem;
    }
    nav > div#mobile-menu > div > *:nth-child(1) {
        font-size: 1.0625rem;
        text-transform: capitalize;
    }
    nav > div#mobile-menu > div > *:nth-child(2) > span {
        font-size: 1.3rem;
    }

    /* re-styling the desktop-menu in order to just show the  */
    nav > div#desktop-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
        align-items: center;
    }
    nav > div#desktop-menu > span {
        display: initial;
        font-size: 2rem;
        order: 2;
    }
    nav > div#desktop-menu > a {
        order: 1;
        padding-inline: 1.25rem;
        padding-block: 0.625rem;
        background-color: var(--accent-brown);
        border-radius: 10px;
        text-transform: capitalize;
    }
    nav > div#desktop-menu > div {
        display: none;
    }



    /* re-sizing the form in order to fit well with screen width */
    main > form {
        max-width: 90%;
        padding-inline: 0.9375rem;
    }
}

/* for devices that don't have pointer mechanisms( e.g. mouse, touch, pen ) that can hover on elements */
@media ( any-hover: none ) {
    main > form > input[type="submit"], nav > div#desktop-menu > a {
        transition: none;
    }
}

/* for accessiblity, users that prefer reduced motion or no animations or devices that dont have fast screen rates */
@media ( prefers-reduced-motion: reduce ) and ( update: slow ) or ( update: none ) {
    nav > div#mobile-menu > div {
        transition: none;
    }
}
